.gradient-text {
    font-size: 3rem;
    /* Adjust font size as needed */
    font-weight: bold;
    /* Optional: Make the text bold */
    background-image: linear-gradient(90deg, red, yellow, rgb(0, 255, 0), rgb(0, 255, 229), rgb(149, 0, 255), rgb(255, 0, 255), red);
    background-size: 200% 100%;
    /* Extend the gradient to enable animation */
    background-clip: text;
    /* Apply the gradient to the text only */
    -webkit-background-clip: text;
    /* For WebKit browsers */
    color: transparent;
    /* Make the non-gradient part transparent */
    animation: gradient-shift 10s linear infinite;
    text-align: center;
}

@keyframes gradient-shift {
    0% {
        background-position: 200% 0;
        /* Start the gradient at the right */
    }

    100% {
        background-position: 0 0;
    }
}
